<div class="media msg">
    <a class="pull-left" href="">
        <%= gravatar_for message.user %>
    </a>
    <div class="media-body">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(message.created_at) %> </small>

        <h5 class="media-heading"><%= message.user.nick_name %></h5>
        <small class="col-lg-10">
          <%= message.body %>
        </small>
    </div>
</div>
