<div class="card">
  <div class="card-block">
    <% if message.text? %>
      <div class="row">
        <div class="col-md-1">
          <%= gravatar_for message.user %>
        </div>
        <div class="col-md-11">
          <p class="card-text">
            <span class="text-muted">
              <%= t('messages.new_message', name: message.user.nick_name, time: message.get_time) %>
            </span><br>
            <%= message.body %>
          </p>
        </div>
      </div> <!-- message end -->
    <% end %>
  </div>
</div>
